.loginpage{
 height: 100vh;
 width: 100vw;
 background: url("../assets/keyboard.jpeg");
 background-repeat: no-repeat;
 background-size: cover;
}
.auth-form-container{
    width:15vw;
    background-color: black;
    color:white;
    height:15vw;
    margin-left:auto;
    margin-right: auto;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    padding: 4rem;
    opacity: 0.7;
}
.auth-form-container h2{
    margin-left: 1rem;
}
.login-form input{
    padding: 0.5rem 1rem 0.5rem 1rem;
    width:12vw;
    margin-top: 1rem;
}
.login-form button{

padding:1rem;
width:12vw;
margin-top: 2rem;
margin-left:1vw;
background-color: rgb(174, 92, 255);
color:white;
border-radius: 10px;
font-size: 1rem;

}
@media(max-width:950px){
    .loginpage{
        height: 100vh;
        width: 100vw;
        background: url("../assets/keyboard.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
       }
       .auth-form-container{
           width:60vw;
           background-color: black;
           color:white;
           height:50vw;
           margin-left:auto;
           margin-right: auto;
           position: absolute;
           left:50%;
           top:50%;
           transform: translate(-50%,-50%);
           padding: 4rem;
           opacity: 0.6;
           box-shadow: 0px 0px 10px white;
       }
       .auth-form-container h2{
           margin-left: 2rem;
       }
       .login-form input{
           padding: 0.5rem 1rem 0.5rem 1rem;
           width:55vw;
           margin-top: 1rem;
       }
       .login-form button{
       
       padding:1rem;
       width:55vw;
       margin-top: 2rem;
       margin-left:3vw;
       background-color: rgb(174, 92, 255);
       color:white;
       border-radius: 10px;
       font-size: 1rem;
       opacity: 1;
       
       }
}